table {
    margin: 1.5em auto 0 auto;
    border-collapse: collapse;
}

th {
    text-align: center; 
    border: solid white 1px;
    padding: 1em 1em;
}

.row-name {
    border: solid white 1px;
    text-align: left; 
    padding: 0.4em 1em 0.4em 0.4em;
}

.row-signatures {
    border: solid white 1px;
    text-align: center; 
}